body{
    background-color:hsl(212, 45%, 89%);
    font-family: Outfit, sans-serif;
    text-align: center;
    font-size: 16px;
  
}



#qrwhole{
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 300px;
    background-color:hsl(0, 0%, 100%);
    width: 300px;
    height: 500px;
    border-radius: 5%;
 
    /* center in viewport */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
 #qrimg {
    width: 270px;
    margin-top: 5%;
    border-radius: 5%;
  }


.desc {
    margin-top: -10%;
    padding: 10px;
}


P {
    color:  hsl(220, 15%, 55%);
}
 